<nav class="navbar fixed-top navbar-expand-lg navbar-dark">

</nav>
<div class="row"> 
  <div class="col s12"> 
      <div class="card"> 
          <div class="card-content black-text"> 
              <div class="row"> 
                  <div class="col s5"> 
                 <form #rutinaForm="ngForm" (ngSubmit)="addrutina(rutinaForm)">
                   <div class="row">
                     <div class="input-field col s12">
                       <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="RutinasService.selectrutina.nombre"
                       placeholder="ingresa tu nombre">
                      </div>
                      <div class="input-field col s12">
                         <input  type="text"  name="descripcion" #descripcion="ngModel" [(ngModel)]="RutinasService.selectrutina.descripcion"
                         placeholder="ingresa la duracion de la actividad">
                       </div>
                       <div class="card-action">
                             <div class="input-field col s12">
                                      <button class="btn ">
                                      Guardar
                                      </button>
                                      <button class="btn right" (click)="resetForm(rutinaForm)">
                                       Limpiar</button>    
                             </div>
                            
                       </div>
                   </div>
                  </form>
                 </div>
                  <div class="col s7">
                    <table class="responsive-table highlight">
                        <thead>
                            <tr>
             
                                <th>Nombre</th>
                                <th>Descripcion</th>

                           
                                <th ></th>
                               
                            </tr>
                        </thead>
                        <tr *ngFor="let rutina of RutinasService.rutinas1">
                  
                            <td>{{ rutina.nombre  }}</td>
                            <td>{{ rutina.descripcion }}</td>

                        
                           
                              <a class="action-btn" (click)="onEdit(rutina)">
                                <i class="material-icons">edit</i>
                              </a>
                              <a class="action-btn" (click)="deleteRutina(rutina._id,rutinaForm)">
                                <i class="material-icons">delete</i>
                              </a>
                           
                        </tr>
                      </table>
                </div>  
           </div>
          </div>
      </div>
       
 </div>

 