<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
      <a class="navbar-brand"  routerLink="/home" >
          <h3 class="my-heading ">GYM<span class="bg-main">TEAM</span></h3>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars mfa-white"></span>
      </button>

      <div id="main">
      
      </div>
        <div class="collapse navbar-collapse">
          <ul class="">
            <li class="nav-item">
              <a *ngIf="_service.loggedIn()" class="nav-link" routerLink= "/perfil">Perfil</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/clientestabla">Mantenimiento Clientes</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/rutinas" >Rutinas</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/select">Mis rutinas</a>
            </li>

          </ul>
        </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          
          <ul class="navbar-nav ml-auto">
              <li class="nav-link">
                <button *ngIf="_service.loggedIn()" class="btn btn-danger my-2 my-sm-0" (click)="logoutUser()">Cerrar Sesion</button>

              </li>
              

          </ul>
      </div>

  </div>
</nav>
