
<div class="row"> 

    <div class="col s12"> 
        <div class="card"> 
            <div class="card-content black-text"> 
                <div class="row"> 
                    <div class="col s5"> 
  <form #clienteForm="ngForm" (ngSubmit)="addcliente(clienteForm)">
     <input style="display:none" type="text"  name="_id" #nombre="ngModel" [(ngModel)]="clienteService.selectclient._id">
     <div class="row">
                <div class="input-field col s12">
                  <input type="text"  name="nombre" #nombre="ngModel" [(ngModel)]="clienteService.selectclient.nombre"
                  placeholder="ingresa tu nombre completo">
                  <label>Nombre :
                    <label class="red-text">*</label>
                  </label>
                </div>
                <div class="input-field col s12">
                  <input type="text"  name="nombreusu" #nombreusu="ngModel" [(ngModel)]="clienteService.selectclient.nombreusu"
                  placeholder="ingresa tu nombre de usuario">
                  <label>Nombre de Usuario :
                    <label class="red-text">*</label>
                  </label>
                </div>
               </div>
               <div class="row">
               <div class="input-field col s12">
                  <input  type="password"  name="contra" #contra="ngModel" [(ngModel)]="clienteService.selectclient.contra"
                  placeholder="ingresa tu contraseña">
                  <label>Contraseña :
             </label>
                </div>
               </div>
               <div class="row">
               <div class="input-field col s12">
                  <input type="text"  name="direccion" #direccion="ngModel" [(ngModel)]="clienteService.selectclient.direccion"
                  placeholder="ingresa tu direccion">
                  <label>Dirección : </label>
                 </div>
               </div>
               <div class="row">
                 <div class="input-field col s12">
                  <input type="number"  name="telefono" #telefono="ngModel" [(ngModel)]="clienteService.selectclient.telefono"
                  placeholder="ingresa tu telefono">
                  <label>Telefono : </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="number"  name="edad" #edad="ngModel" [(ngModel)]="clienteService.selectclient.edad"
           placeholder="ingresa tu edad">
                  <label>Edad : </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                 <input type="text"  name="tipo" #edad="ngModel" [(ngModel)]="clienteService.selectclient.tipo"
                  placeholder="ingresa el tipo de usuario">
                  <label>Tipo : </label>
                </div>
              </div>
           <div class="row">  
                    <div class="input-field col s12">
                    <button class="btn btn-custom right "> Guardar </button>
                    <button class=" btn btn-custom right" (click)="resetForm(clienteForm)"> Limpiar</button>
               </div>
               </div>
       </form>
          </div>
        <div class="col s7">
            <table class="responsive-table highlight">
                <thead>
                    <tr>
     
                        <th>Nombre</th>
                        <th>Nombre de usuario</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Edad</th>
                        <th>Tipo</th>
                        <th ></th>
                       
                    </tr>
                </thead>
                <tr *ngFor="let cliente of clienteService.clientes1">
          
                    <td>{{ cliente.nombre  }}</td>
                    <td>{{cliente.nombreusu}}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.edad}}</td>
                   <td>{{cliente.tipo}}</td> 
                   
                      <a class="action-btn" (click)="onEdit(cliente)">
                        <i class="material-icons">edit</i>
                      </a>
                      <a class="action-btn" (click)="deleteUser(cliente._id,clienteForm)">
                        <i class="material-icons">delete</i>
                      </a>
                   
                </tr>
              </table>
        </div>  
   </div>
                </div>
            </div>
        </div>
    </div>
   

        
          
            
