
<div class="container" >
   <div class="row">
      <div class="col s5">
         <div class="card">
               <div class="card-content">
                <form #clienteForm="ngForm" (ngSubmit)="addcliente(clienteForm)">
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text"  name="nombre" #nombre="ngModel" [(ngModel)]="ClienteService.selectclient.nombre"
                      placeholder="ingresa tu nombre completo">
                     </div>
                     <div class="input-field col s12">
                      <input type="text"  name="nombreusu" #nombreusu="ngModel" [(ngModel)]="ClienteService.selectclient.nombreusu"
                      placeholder="ingresa tu nombre de usuario">
                     </div>
                     <div class="input-field col s12">
                      <input type="text"  style="display:none"  name="nombre" #nombre="ngModel" [(ngModel)]="ClienteService.selectclient._id">
                     </div>
                     <div class="input-field col s12">
                        <input  type="password"  name="contra" #contra="ngModel" [(ngModel)]="ClienteService.selectclient.contra"
                        placeholder="ingresa tu contraseña">
                      </div>
                     <div class="input-field col s12">
                        <input type="text"  name="direccion" #direccion="ngModel" [(ngModel)]="ClienteService.selectclient.direccion"
                        placeholder="ingresa tu direccion">
                       </div>
                       <div class="input-field col s12">
                        <input type="text"  name="telefono" #telefono="ngModel" [(ngModel)]="ClienteService.selectclient.telefono"
                        placeholder="ingresa tu telefono">
                      </div>
                      <div class="input-field col s12">
                        <input type="number"  name="edad" #edad="ngModel" [(ngModel)]="ClienteService.selectclient.edad"

                        placeholder="ingresa tu edad">
                      </div>
                      <div class="input-field col s12">
                        
                        <input type="number"  name="tipo" #edad="ngModel" [(ngModel)]="ClienteService.selectclient.tipo" style="display:none">
                      </div>
                      
                     
                    
                      <div class="card-action">
                            <div class="input-field col s12">
                                     <button class="btn ">
                                     Enviar
                                     </button>
                                     <button class="btn right" (click)="resetForm(clienteForm)">
                                      Limpiar</button>
                                    
                                     
                                     
                            </div>
                           
                      </div>
                      <a routerLink="/login">Tienes cuenta Logeate!</a>
                  </div>
                
                 </form>
               
                </div>
                
          </div>
         </div>
     </div>
      
</div>
