<nav class="navbar fixed-top navbar-expand-lg navbar-dark">

</nav>
<div class="row"> 
    <div class="col s12"> 
        <div class="card"> 
            <div class="card-content black-text"> 
                <div class="row"> 
                    <div class="col s5"> 
                   <form>
                     <h1>Rutinas Seleccionadas</h1>
                    </form>
                   </div>
                   <form  #rutinasForm="ngForm" >
                    <div class="col s7">
                      <table class="responsive-table highlight">
                          <thead>
                              <tr>
               
                                  <th>Rutina</th>
                             
                                  <th ></th>
                                 
                              </tr>
                          </thead>
                          <tr *ngFor="let rutina of RutinasService.rutinas2">
                              <td>{{ rutina.nombre }}</td>
                              <td>{{rutina.descripcion}}</td>
                                <a class="action-btn" (click)="deleteRutina(rutina._id,rutinasForm)">
                                  <i class="material-icons">delete</i>
                                </a>   
                          </tr>
                        </table>
                       
                  </div>  
                </form>
             </div>
            </div>
        </div>
         
   </div>
   <div class="row"> 
    <div class="col s12"> 
        <div class="card"> 
            <div class="card-content black-text"> 
                <div class="row"> 
                    <div class="col s5"> 
                        <form #rutinaForm="ngForm"  (ngSubmit)="Guardar(rutinaForm)">
                            <div class="row">
                                <h1>Guardar Rutina</h1>
                              <div class="input-field col s12">
                                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="RutinasService.selectrutina.nombre"
                                placeholder="nombre" readonly=»readonly» >
                               </div>
                               <div class="input-field col s12">
                                  <input  type="text"  name="descripcion" #descripcion="ngModel" [(ngModel)]="RutinasService.selectrutina.descripcion"
                                  placeholder="descripcion" readonly=»readonly» >
                                </div>
                                <div class="card-action">
                                    <div class="input-field col s12">
                                             <button class="btn ">
                                             Guardar
                                             </button>

                                    </div>
                                   
                              </div>
                            </div>
                            
                           </form>
                   </div>
                    <div class="col s7">
                        <form #rutinasForm="ngForm" (ngSubmit)="Guardar(rutinasForm)">
                            <h1>Selecionar rutina</h1>
                      <table class="responsive-table highlight">
                          <thead>
                              <tr>
               
                                  <th>Nombre</th>
                                  <th>Descripcion</th>
                             
                                  <th ></th>
                                 
                              </tr>
                          </thead>
                          <tr *ngFor="let rutina of RutinasService.rutinas1" >
                    
                           <td >{{ rutina.nombre  }}</td>
                          <td >{{ rutina.descripcion }}</td>
                          <a class="action-btn" (click)="onEdit(rutina)">
                            <i class="material-icons">save</i>
                          </a>
                             
                          </tr>
                        </table>
                    </form>
                  </div>  
             </div>
            </div>
        </div>
         
   </div>

   