<!-- <div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <div class="card-body">
     <img src="../../../../Imagenes/user.png" width="85px" style="text-align: center;" class="mx-auto d-block">
      <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
          <label>Nombre de Usuario</label>
          <input type="text" class="form-control" formControlName="Nombre" required>
          
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" class="form-control" formControlName="Contra" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Ingresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->
<div id="login">
  
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form  autocomplete="off"(submit)="onSubmit()" id="login-form" class="form" action="" method="post">
                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">
                          <label for="username"  class="text-info">Nombre de usuario:</label><br>
                          <input type="text" [(ngModel)]="nombreusu" name="name" class="form-control" placeholder="Nombre" required autofocus>
                      </div>
                      <div class="form-group">
                          <label for="password" class="text-info">Contraseña:</label><br>
                          <input type="password" [(ngModel)]="contra" name="contra" class="form-control" placeholder="Contraseña" required>
                      </div>
                      <div class="form-group">
                        
                          <input type="submit" name="submit" class="btn btn-info btn-md" value="Ingresar">
                      </div>
                      <a routerLink="/clientes">Registrate!</a>
                      <br>
                    <br>
                      <div id="register-link" class="text-right">
                      
                      </div>
                
                  </form>
                 
              </div>
              
          </div>
        
      </div>
  </div>
</div>
   