<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-navbar></app-navbar>
<br><br>
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span2" >
		    <img src="https://www.tuexperto.com/wp-content/uploads/2015/07/perfil_01.jpg" class="img-circle">
        </div>
        
        <div class="span8">
            <h3>{{profile.nombreusu}}</h3>
            <h5>Nombre: {{profile.nombre}}</h5>
            <h5>Direccion: {{profile.direccion}}</h5>
            <h5>Edad: {{profile.edad}}</h5>
            <h5>Telefono: {{profile.telefono}}</h5>
           
        </div>
        
        
</div>
</div>
