<div class="body">
        <div class="alert alert-info">
            <strong>¡Error!</strong> La dirección no ha sido encontrada. 
            <hr>
                <div>
                    <a href="login" class="btn btn-primary">Regresar a inicio</a>
                </div>
          </div>
        </div>
